<div class="row animated fadeIn">
    <div class="col-md-12 primary">
        <div class="jumbotron primary">
            <h1 class="  text-center text-white">
                {{items?.name | uppercase }}
            </h1>
            <h2 class="text-center text-white">Sepárate de lo ordinario.</h2>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" routerLink="/home">
    <i class="fas fa-arrow-left"></i>
</button>
<div class="row mt-3 animated fadeIn">
    <div class="col-md-4 pt-2" *ngFor="let item of items?.products; let i = index;">
        <div class="card">
            <img class="card-img-top mx-auto" [src]="item.picture" style="width: 10rem; height:10rem;" />
            <div class="card-block">
                <h5 class="card-title text-center">
                    {{item.name}}
                </h5>
                <p class="card-text text-center">
                    {{item.description}}
                </p>
                <div class="text-center bg-dark">
                    <a class="btn btn-primary w-50" routerLink="/3/product/{{i}}">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>