<div class="row animated fadeIn">
  <div class="col-md-12 secondary">
    <div class="jumbotron jumbotron-fluid secondary text-white">
      <h1 class="text-center text-dark">¡Bienvenido a tu carrito de compras!</h1>
      <hr class="my-4 mx-5">
      <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="https://www.amazon.com" target="_blank" role="button">Empieza aquí</a>
      </p>
    </div>
  </div>
</div>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="row primary">
      <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid primary">
          <div class="container">
            <h1 class="display-4 text-center text-white">Artículos para que te veas bien</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row primary pb-4">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/clothes.jpg" />
          <div class="card-block">
            <h5 class="card-title text-center">
              Sección de Ropa
            </h5>
            <p class="card-text">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
              dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div>
              <a class="btn btn-primary w-100" routerLink="/clothes">
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/shoes.jpg" />
          <div class="card-block">
            <h5 class="card-title text-center">
              Zapatería
            </h5>
            <p class="card-text">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
              dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div>
              <a class="btn btn-primary w-100" routerLink="/shoes">
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/accesories.jpg" />
          <div class="card-block">
            <h5 class="card-title text-center">
              Accesorios
            </h5>
            <p class="card-text">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
              dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div>
              <a class="btn btn-primary w-100" routerLink="/accesories">
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid secondary">
          <div class="container">
            <h1 class="display-4 text-dark">Artículos de electrónica, para que vivas esta era tecnológica</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/cellphones.jpg" />
          <div class="card-block">
            <h5 class="card-title text-center">
              Teléfonos Celulares
            </h5>
            <p class="card-text">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
              dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div>
              <a class="btn btn-primary w-100" routerLink="/cellphones">
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/pc.jpg" />
          <div class="card-block">
            <h5 class="card-title text-center">
              Computadoras
            </h5>
            <p class="card-text">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
              dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div>
              <a class="btn btn-primary w-100" routerLink="/pc">
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/tv.jpg" />
          <div class="card-block">
            <h5 class="card-title text-center">
              Televisores
            </h5>
            <p class="card-text">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
              dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div>
              <a class="btn btn-primary w-100" routerLink="/tv">
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>