<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" routerLink="/home">ShopCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle my_link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Secciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/clothes">Ropa</a>
          <a class="dropdown-item" routerLink="/shoes">Zapatos</a>
          <a class="dropdown-item" routerLink="/accesories">Accesorios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/cellphones">Teléfonos celulares</a>
          <a class="dropdown-item" routerLink="/pc">Computadoras</a>
          <a class="dropdown-item" routerLink="/tv">Televisores</a>
        </div>
      </li>
    </ul>
  </div>
</nav>